<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = 'tests' name="Suite">

<listeners>
	<listener class-name="com.nurfatinportfolio.TestComponents.Listeners"/>
</listeners>
	
  <test thread-count="5" name="Test">
	    <groups>
            <run>
                <include name="LoginSuccess" />
                <include name="LoginIncorrect" />
               <include name="LoginLocked" />
                <!-- Add more groups as needed -->
            </run>
        </groups>
    <classes>
      <class name="com.nurfatinportfolio.Test.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
