<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
    <listeners>
        <listener class-name="com.saucedemo.TestComponents.Listeners" />
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="com.saucedemo.Test.AuthenticationTest" />
            <class name="com.saucedemo.Test.CartTest" />
            <class name="com.saucedemo.Test.ProductTest" />
            <class name="com.saucedemo.Test.SortingTest" />                        
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->